:root{
    --radius: 10rem;
}
.section{

	height:65vh;
}
.cart-footer {
	display: flex;
	align-items: center;
}

.cart {
	display: grid;

	grid-template-columns:  auto 140px 70px 70px;
	grid-template-rows: 75px;
	gap: 3rem 1rem;
	justify-items: center;
	margin-bottom: 3rem;
    padding-inline: 1rem;
	align-items: center;
    margin-inline: auto;
    width: fit-content;
}

.title {
	height: 100%;
	display: grid;
	grid-template-columns: 75px 125px;
	align-items: center;
	text-align: left;
	gap: 1rem;
	font-size: 0.65rem;
}

.cart h5 {
	margin-bottom: 0;
}

.subtotal{
	font-size: .9rem;
}
.color {
	color: var(--clr-grey-5);
	font-size: 0.75rem;
	letter-spacing: var(--spacing);
	text-transform: capitalize;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.cart span {
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background: red;
	margin-left: 0.5rem;
	border-radius: var(--radius);
}

.price-small {
	color: #444;
}

.remove-btn {
	color: var(--clr-white);
	background: transparent;
	border: transparent;
	letter-spacing: var(--spacing);
	background: var(--clr-red-dark);
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--radius);
	font-size: 0.75rem;
	cursor: pointer;
}
.title img {
	width: 5rem;
	height: 5rem;
	object-fit: cover;
}

.link-btn {
	
	background: transparent;
	border-color: transparent;
	background: #3a82af;
	color: aliceblue;
	border-radius: var(--radius);
	font-weight: 400;
	cursor: pointer;
	font-size: 0.7rem;
    padding: 0.25rem 1.5rem;
}
.clear-btn {
    background-color:#666da3
  }

.stripe-element-button {
	width: 100px;
	height: 30px;
	color: white;
	border: none;
	border-radius: var(--radius);
	background-color: #3a82af;
}

.inc-dec-svg{
	cursor: pointer;
	border: .1px solid black;
}

.stripe-element-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60vw;
	justify-items: center;
    text-align: center;
}


.stripe-card {
	width: 60vw;
	height: 30px;
}


@media (min-width: 776px) {
	.remove-btn {
		color: var(--clr-white);
		background: transparent;
		border: transparent;
		letter-spacing: var(--spacing);
		background: var(--clr-red-dark);
		width: 1.5rem;
		height: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--radius);
		font-size: 0.75rem;
		cursor: pointer;
	}
	.title img {
		width: 5rem;
		height: 5rem;
		object-fit: cover;
	}
	.subtotal {
		display: block;
		margin-bottom: 0;
		color: var(--clr-grey-5);
		font-weight: 400;
		font-size: 1rem;
	}

	.price {
		display: block;
		font-size: 1rem;
		color: var(--clr-primary-5);
		font-weight: 400;
	}
	.name {
		font-size: 0.85rem;
	}
	.color {
		font-size: 0.85rem;
	}
	.color span {
		width: 0.75rem;
		height: 0.75rem;
	}

	.cart {
		align-items: center;
		grid-template-rows: 75px;
	}

	.title {
		height: 100%;
		display: grid;
		grid-template-columns: 100px 200px;
		align-items: center;
		gap: 1rem;
		text-align: left;
	}

	.cart h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 400px) {
	.cart {
		display: grid;
		grid-template-columns: 200px auto auto;
		grid-template-rows: 75px;
		gap: 3rem 1rem;
		justify-items: center;
		margin-bottom: 3rem;
		align-items: center;
	}
	.cart h5 {
		font-size: 0.6rem;
		margin-bottom: 0;
	}
	.color {
		color: var(--clr-grey-5);
		font-size: 0.75rem;
		letter-spacing: var(--spacing);
		text-transform: capitalize;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.cart span {
		display: inline-block;
		width: 0.5rem;
		height: 0.5rem;
		background: red;
		margin-left: 0.5rem;
		border-radius: var(--radius);
	}

	.price-small {
		color: #444;
	}

	.remove-btn {
		color: var(--clr-white);
		background: transparent;
		border: transparent;
		letter-spacing: var(--spacing);
		background: var(--clr-red-dark);
		width: 1.5rem;
		height: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--radius);
		font-size: 0.75rem;
		cursor: pointer;
	}
	.title img {
		width: 5rem;
		height: 5rem;
		object-fit: cover;
	}
}
