.booking-container{
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    margin-top: 10rem;
    height: 90vh;
}

.date-input{
    width: 57vw;
    height: 2rem;
    margin-block: 10px;
    border-radius: 18px;
    padding-inline: 11px;
}

.confirm-button{
    padding-inline: 11px;
    border: none;
    background-color:#5589b1;
    color: white;
    height: 24px;
}
.booking-title{
    font-weight: 200;
}