#splash{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #99b4c8;
}

.splash-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 300px;
      color: #ecf0f1;
      font-size: 2rem;
      text-align: center;
}

.splash-image{
 width: 230px;
 height: 13rem;
}

body{
    height: 100vh;
}