.container{
display: flex;
flex-direction: column;
}
.back-button{
	width: 5rem;
	background-color: transparent;
	border: none;
	color: black;
	cursor: pointer;
	margin-left: 1rem;
	box-shadow: none;
}


.product-center {
	margin-block: 1vw;
	display: flex;
	max-width: 1000px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	height: 80vh;
	padding: 3rem;
}

.content-prod {
	padding: 20px;
	width: 100%;
	height: 40vh;
	max-height: 700px;
	max-width: 800px;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

.single-prod-container {
	width: fit-content;
	margin-inline: auto;
	margin-top: 2rem;
}

.price-prod{
	margin-top: 1rem;
}
.prod-photo{
	margin-bottom: 1rem;
}

.size-container {
	margin-block: 1rem;
}

.btn-container {
	padding-inline: 1.3rem;
	width: fit-content;
	border-radius: 10rem;
	color: whitesmoke;
	margin-inline: auto;
}
.btn-container a {
	margin: 1rem .5rem;
	color: rgb(42, 40, 40);
	font-size: .8rem;
	padding-inline: .5rem;
	border-radius: 10rem; 
	border: .1px solid rgb(42, 40, 40);
	padding: .2rem 1.5rem;
	background-color: #8ca5d7;
}
.btn-container select{
	border-radius: 10rem;
	padding-inline: .5rem;
}
.size-chart {
	width: fit-content;
	padding-inline: 0.5rem;
	margin-inline: auto;
	margin-right: .5rem;
}
.description {
	line-height: 2.3;
	font-size: .8rem;
	color: #444;
	margin: 1rem auto;
}

/* Tablet ~ Moblie */
@media screen and (max-width: 776px) {
	.product-center {
		flex-direction: column;
		padding: 3rem;
	}
}
